<p id="notice"><%= notice %></p>

           
  <div class="container border-gradient border-gradient-purple text-center" id="main-col" >
        
      <br>
      <h1 style=" font-size: 24px;">  Web Developer - Add description </h1>
      <br>
    
  </div>



