<p id="notice"><%= notice %></p>

<div class="main" id="main">
  <div class="container-fluid section-bg " id="main-content" style="border-radius: 20px; width: 90%; ">
           
  <div class="container border-gradient border-gradient-purple text-center" id="main-col" >
        
      <br>
      <h1 style=" font-size: 24px;">  Web Developer - Add description </h1>
      <br>
    
  </div>

  </div>
</div>



