<div class="container border-gradient border-gradient-purple text-center " id="main-col" style="padding: 50px;">

<h1>Editing Project</h1>

<%= render 'form', project: @project %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>

</div>
